.viewer-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:99999;
}

.viewer-modal{

    width:95%;
    max-width:900px;
    max-height:90vh;

    overflow:auto;

    background:white;

    border-radius:15px;

    padding:20px;
}

.viewer-toolbar{

    display:flex;
    justify-content:flex-end;
    gap:10px;

    margin-bottom:20px;
}

.viewer-toolbar button{

    background:#1976d2;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;
}

.viewer-toolbar button:hover{

    background:#125aa3;
}